@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: MyWebFont, sans-serif !important;
}

h1 {
  cursor: default;
}

h2 {
  cursor: default;
}

h3 {
  cursor: default;
}

h4 {
  cursor: default;
}

p {
  cursor: default;
  font-size: 1rem;
}

@font-face {
  font-family: "MyWebFont";
  src: url("font-regular.ttf");
  /* Chrome 6+, Firefox 3.6+, IE
      format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

:root {
  font-size: 20px;
}

.navbar a {
  color: #333;
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #232630;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background-color: #4ecdc4;
}

body::-webkit-scrollbar-thumb {
  background-color: #232630;
}

.page {
  background-color: #ffa400;
  width: 400px;
  height: 400px;
  border-radius: 30px;
  text-align: center;
  -webkit-box-shadow: 0px 2px 10px #232630 inset;
          box-shadow: 0px 2px 10px #232630 inset;
}

.navbar {
  position: fixed;
  background: #ffa400;
  background: linear-gradient(16deg, #ffa400 0%, #4ecdb9 100%);
  -webkit-transition: width 300ms ease;
  transition: width 300ms ease;
  overflow: hidden;
  z-index: 999999999999999;
  border: 1px solid #232630;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-item:last-child .fa-primary {
  color: #4ecdc4;
}

.nav-item:hover {
  background-color: rgba(35, 38, 48, 0.5);
}

.nav-item :hover .nav-link {
  background-color: none;
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  color: #232630;
  text-decoration: none;
  -webkit-filter: grayscale(100%) opacity(0.7);
          filter: grayscale(100%) opacity(0.7);
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

.nav-link:hover {
  -webkit-filter: grayscale(0%) opacity(1);
          filter: grayscale(0%) opacity(1);
  color: #fdfdff;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ffa400;
}

.fa-secondary {
  color: #232630;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: #fdfdff;
  background: none;
  font-size: 1rem;
  letter-spacing: 0.3ch;
  width: 100%;
  background-color: rgba(35, 38, 48, 0.5);
  -webkit-box-shadow: 0px 4px 10px rgba(35, 38, 48, 0.4);
          box-shadow: 0px 4px 10px rgba(35, 38, 48, 0.4);
}

@-webkit-keyframes arrowAnimation {
  from {
    left: 0px;
  }
  to {
    left: 200px;
  }
}

@keyframes arrowAnimation {
  from {
    left: 0px;
  }
  to {
    left: 200px;
  }
}

.logo {
  -webkit-animation: arrowAnimation 5s infinite;
          animation: arrowAnimation 5s infinite;
}

.logo svg {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.logo-text {
  display: inline;
  position: absolute;
  color: #fdfdff;
  left: -999px;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.parallaxSeparator {
  width: 110%;
}

.mainBody {
  margin-left: 5rem;
}

.footer {
  width: 100vw;
  background-color: #111111;
  padding: 60px 0px;
  color: #fdfdff;
  text-align: center;
  bottom: 0;
}

.iconsStartgridLeft {
  position: absolute;
  margin-top: 100px;
  left: 10%;
  width: 30%;
  height: 200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  padding: 10px;
}

.iconsStartgridLeft .grid-item {
  background-color: #4ecdc4;
  padding: 0;
  text-align: center;
}

.iconsStartgridLeft .grid-item img {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.iconsStartgridRight {
  position: absolute;
  margin-top: 100px;
  right: 5%;
  width: 30%;
  height: 200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  padding: 10px;
}

.iconsStartgridRight .grid-item {
  background-color: #4ecdc4;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.iconsStartgridRight .grid-item img {
  width: 100px;
  height: 100px;
  display: block;
}

.whoAmIForm {
  text-align: center;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  color: #fdfdff;
  overflow: hidden;
  padding: 5rem;
  font-size: 16px;
}

.whoAmIForm h1 {
  cursor: default;
  opacity: 0;
  margin: 20px;
  padding: 0;
}

.whoAmIForm h4 {
  cursor: default;
  opacity: 0;
  margin: 20px;
  padding: 0;
}

.whoAmIForm svg {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline;
  width: 30px;
  height: 30px;
}

.whoAmIForm ul {
  list-style: none;
}

.whoAmIForm ul li {
  display: inline;
  margin: 10px;
}

.whoAmIForm ul .liIcon svg {
  opacity: 0;
  fill: #ffa400;
}

.whoAmIForm ul .codepenIcon:hover svg {
  fill: #4ecdc4;
}

.whoAmIForm ul .linkedInIcon:hover svg {
  fill: #4ecdc4;
}

.whoAmIForm ul .githubIcon:hover svg {
  fill: #4ecdc4;
}

.projectsWidnow {
  padding: 5rem;
  color: #fdfdff;
}

.projectsWidnow img {
  display: block;
  width: 50vw;
  margin: 0 auto;
  border: 1px solid black;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 30px;
}

.projectsWidnow h3 {
  margin-top: 3rem;
  background-color: #ffa400;
  text-align: center;
}

.hobbiesWindow {
  padding: 5rem;
  color: #fdfdff;
}

.hobbiesWindow h3 {
  margin-top: 3rem;
  background-color: #ffa400;
  text-align: center;
}

.virtGuitarGif {
  display: block;
  margin: 0 auto;
  border: 1px solid black;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.descr {
  text-align: center;
  display: block;
  margin-top: 10px;
  padding: 10px;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .footer {
    display: none;
  }
  p {
    font-size: 13px;
  }
  h3 {
    font-size: 16px;
  }
  h1 {
    font-size: 1rem;
  }
  .logo {
    display: none;
  }
  .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainBody {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .navbar:hover {
    width: 16rem;
  }
  .navbar:hover .link-text {
    display: inline;
  }
  .navbar:hover .logo svg {
    margin-left: 20rem;
  }
  .navbar:hover .logo-text {
    left: 0px;
  }
}
/*# sourceMappingURL=App.css.map */